/* HERO */
.market-hero {
  background: #fff6e5;
  padding: 30px;
  border-radius: 20px;
}

.market-hero span {
  color: #f4a100;
}

/* FILTERS */
.filters-box {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* CARD */
.market-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.market-card:hover {
  transform: translateY(-6px);
}

.market-img {
  position: relative;
}

.market-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* BADGES */
.verified-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #0d6efd;
  color: #fff;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 12px;
}

.heart {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #ccc;
}

.heart.active {
  color: red;
}

/* PRICE */
.price {
  font-weight: bold;
  color: #f4a100;
}

.price span {
  color: #777;
  font-size: 13px;
}

/* CALENDAR */
.event-calendar {
  border: none;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

/* PARTIALLY BOOKED */
.calendar-booked {
  background: #ffe5e5 !important;
  color: #d9534f !important;
  border-radius: 8px;
}

/* FULLY BOOKED */
.react-calendar__tile:disabled {
  background: #f1f1f1 !important;
  color: #999 !important;
  cursor: not-allowed;
}

/* SELECTED DATE */
.react-calendar__tile--active {
  background: #f4a100 !important;
  color: #fff !important;
}
.form-control::placeholder {
  color: #999;
  font-size: 14px;
}

.form-select {
  font-size: 14px;
}
